<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">


	<select id="detail" parameterType="Integer" resultType="BoardDTO">
		select board_no, user_no, board_title, board_content, board_write,
		 	   board_date, board_like, board_count, board_del
		from board
				where board_no = #{no} and board_del = '1'
	</select>
	
	<insert id="write" parameterType="BoardDTO">
		insert into board(user_no, board_title, board_content, board_write)
		values (#{user_no}, #{board_title}, #{board_content}, #{board_write})
	</insert>
	
	<select id="main_hot" resultType="BoardDTO">
		select board_no, board_title, board_like, board_count, (board_like+board_count) as board_react
		from board
		order by board_react desc
	</select>
	
	<select id="main_new" resultType="BoardDTO">
		select board_no, board_title, board_like, board_count, board_date
		from board
		order by board_date desc
	</select>
	
</mapper>