<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="getMainLogin" parameterType="UserDTO"  resultType="UserDTO">
		select * from user where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<update id="boardDel" parameterType="Long" > 
		update board set board_del='0' where board_no=#{no} and board_del='1'
	</update>
	
	<select id="detail" parameterType="Long" resultType="BoardDTO">
		select board_no, user_no, board_title, board_content, board_write,
		 	   board_date, board_like, board_count, board_del
		from board
		where board_no = #{no} and board_del = '1'
	</select>
	
	<update id="updateView" parameterType="Long">
		update board
		set board_count = board_count + 1
		where board_no = #{no}
	</update>
	
	<!-- いいね関連機能 -->
	<!-- いいねを押したのか確認 -->
	<select id="isLikedBoard" parameterType="LikesDTO" resultType="int">
		select count(*)
		from likes
		where user_no=#{user_no} and board_no=#{board_no}
	</select>
	<!-- likesテーブルに行入力 -->
	<insert id="insertLike" parameterType="LikesDTO">
		insert into likes(user_no, board_no, com_no, reply_no)
		values (#{user_no}, #{board_no}, #{com_no}, #{reply_no})
	</insert>
	<!-- likesテーブルの行削除 -->
	<delete id="deleteBoardLike" parameterType="LikesDTO">
		delete from likes
		where user_no=#{user_no} and board_no=#{board_no}
	</delete>
	<!-- boardテーブルアップデート -->
	<update id="plusBoardLike" parameterType="LikesDTO">
		update board
			set board_like=board_like+1
		where board_no=#{board_no}
	</update>
	<update id="minusBoardLike" parameterType="LikesDTO">
		update board
			set board_like=board_like-1
		where board_no=#{board_no}
	</update>
	<!-- いいね関連機能 -->
	
	<insert id="write" parameterType="BoardDTO">
		insert into board(user_no, board_title, board_content, board_date, board_write)
		values (#{user_no},#{board_title}, #{board_content}, now(), #{board_write})
	</insert>
	
	
	<select id="com_cnt" parameterType="Long" resultType="Integer">
		select count(*) 
		from comment 
		where board_no = #{no} and com_del = '1'
	</select>
	
	<select id="com_list" parameterType="Long" resultType="CustomCommentDTO">
		select comment.*, user.user_username
		from comment, user
		where comment.board_no = #{no} and comment.com_del = '1' and user.user_no=comment.user_no
		order by comment.com_cdate
	</select>
	
	<insert id="com_write" parameterType="CommentDTO">
		insert into comment(user_no, board_no, com_comment)
		values (#{user_no}, #{board_no}, #{com_comment})
	</insert>
	
	<select id="main_hot" resultType="BoardDTO">
		select board_no, board_title, board_like, board_count, (board_like+board_count) as board_react
		from board
		where category!=0 and board_del='1'
		order by board_react desc
		limit 10
	</select>
	
	<select id="main_new" resultType="BoardDTO">
		select board_no, board_title, board_like, board_count, board_date
		from board
		where category!=0 and board_del='1'
		order by board_no desc 
		limit 5
	</select>
	
	<select id="main_notice" resultType="BoardDTO">
		select board_no, board_title, board_like, board_count, board_date
		from board
		where category=0 and board_del='1'
		order by board_no desc 
		limit 5
	</select>
	
	<select id="boardList" resultType="BoardDTO">
		select board_no, user_no, board_title, board_content, board_write,
		 	   board_date, board_like, board_count, board_del
		from board
		where board_del = '1'
		order by board_no desc
	</select>
	
	<update id="boardUpdate" parameterType="BoardDTO">
		update board
        set board_title= #{board_title}, board_content= #{board_content}
		where board_no = #{board_no}
	</update>
	
	<select id="findById" parameterType="Long" resultType="BoardDTO">
       select board_no, user_no, board_title, board_content, board_write
        from board
        where board_no = #{no}
    </select>
    
   
	<update id="comUpdate" parameterType="CommentDTO">
		update comment
        set com_comment= #{com_comment} 
		where com_no = #{com_no}
	</update>
	
	
	
	<select id="prevBoard" parameterType="Long" resultType="Long">
	<![CDATA[
		select board_no
	    from board
	    where board_no < #{no} and board_del = '1'
	    order by board_no desc
	    limit 1
	]]>
	</select>
	
	<select id="nextBoard" parameterType="Long" resultType="Long">
	<![CDATA[
	    select board_no
	    from board
	    where board_no > #{no} and board_del = '1'
	    order by board_no asc
	    limit 1
	]]>
	</select>
	
	<select id="searchBoard" parameterType="String" resultType="BoardDTO">
		select board_no, user_no, board_title, board_content, board_write,
		 	   board_date, board_like, board_count, board_del
		from board
		where board_del = '1' and (board_title like #{keyword} or board_content like #{keyword})
		order by board_no desc
	</select>
	
	</mapper>