<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="test" resultType="UserDTO">
		select * from user
	</select>
	
	<select id="findByUserId" resultType="UserDTO">
		select * from user
		where user_id = #{user_id}
	</select>
	
	<!-- 아이디 찾기: 이름과 이메일로 아이디 찾기 -->
    <select id="findIdByNameAndEmail" resultType="String">
        select user_id from user
        where user_name = #{user_name} and user_email = #{user_email}
    </select>
	
	<!-- ID와 email로 해당하는 사용자 있는지 찾기 -->
	<select id="findByIdAndEmail" parameterType="UserDTO" resultType="UserDTO">
		select user_name,user_no from user
		 where user_id = #{user_id} and user_email = #{user_email}
	</select>
	
	<!-- 임시비밀번호 업데이트 -->
	<update id="createTempPw" parameterType="UserDTO">
		update user
		   set user_pw = #{temp_pw}
		 where user_no = #{user_no}
	</update>
	

	<!-- 아이디 중복체크 -->
	<select id="checkUserId" parameterType="String" resultType="String">
		select max(case when user_id = #{user_id} then 'true'
			  else 'false'
			   end) as userId
		  from user
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="checkUserUserName" resultType="String" parameterType="String">
		select max(case when user_username = #{user_username} then 'true'
			  else 'false'
			   end) as userUserName
		  from user
	</select>
	

	<select id="findByUserUserName" resultType="UserDTO">
		select * from user
		 where user_username = #{user_username}
	</select>
	
	<!-- 회원가입 로직 -->
	<insert id="joinProcess" parameterType="UserDTO">
		insert into user(user_id, user_pw, user_name, user_email, user_username, user_date)
		values(#{user_id}, #{user_pw}, #{user_name}, #{user_email}, #{user_username}, now())
	</insert>
	
	<select id="getUserData" parameterType="UserDTO" resultType="UserDTO">
		select user_no, user_id, user_pw, user_name, user_email
			  ,user_username, user_date, ROLE
		from user
		where user_id = #{user_id} and ROLE = #{ROLE}
	</select>
	
</mapper>