<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
	<meta name="author" content="themefisher.com">
	<th:block th:insert="~{menu.html::metaImport}"></th:block>
	<th:block th:insert="~{menu.html::headImport}"></th:block>
	<title th:text="${detail.board_title}">타이틀</title>
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<!-- 상단바 - 로고, 게시판 메뉴, 검색창, 마이페이지, 로그인 -->
		<th:block th:insert="~{menu.html::navBar}"></th:block>

		<!-- 게시글 상세 내용 -->
		<section class="post-detail">
			<h1 th:text="${detail.board_title}"></h1>
			<p class="meta">
				작성자:[[${detail.board_write}]] | 
				작성시간: [[${#dates.format(detail.board_date, 'yyyy-MM-dd HH:mm')}]] | 
				조회수: [[${detail.board_count}]] | 
				좋아요: [[${detail.board_like}]]
			</p>
			<p id="postContent" th:text="${detail.board_content}"></p>

			<!-- 좋아요 및 게시글 수정/삭제 버튼 -->
			<div class="post-actions">
				<button id="likeButton" class="btn">좋아요</button>
				<!-- 글의 작성자가 현재 로그인 한 사람과 같은 경우에만 -->
				<th:block th:if="${detail.user_no == user.user_no}">
					<a th:href="@{/boardUpdate(no=${detail.board_no})}" id="editButton" class="btn" style="display: inline-block;">수정</a>
					<a th:href="@{/board}" id="deleteButton" class="btn" th:onclick="deleteBoard([[${detail.board_no}]])" style="display: inline-block;">삭제</a>
				</th:block>
			</div>
		</section>

		<!-- 댓글 섹션 -->
		<section class="comments">
			<h3>
				댓글 (<span id="commentCount" th:text="${com_count}"></span>)
			</h3>
			<ul id="commentList" th:each="comment:${comments}" class="comment-item">
				<li>
					<div th:id="'com_content'+${comment.com_no}">
						<span th:text="${comment.user_username} +' :'"></span>  
						<span th:text="${comment.com_comment}"></span>
					</div><br>
					<form th:id="'comment'+${comment.com_no}" name="comment" th:action="@{/comUpdate}" method="post" style="display: none;">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						<input type="hidden" name="board_no" th:value="${detail.board_no}">
						<input type="hidden" name="com_no" th:value="${comment.com_no}">
						<textarea id="commentContent" name="com_comment" th:placeholder="${comment.com_comment}"></textarea>
						<button type="submit" class="btn" style="display: inline-block; padding: 5px 10px;">수정</button>
					</form>
					<div class="com_btn">
						<th:block th:if="${comment.user_no == user.user_no}">
							<a href="javascript:void(0);" th:onclick="modifyCom([[${comment.com_no}]])" class="btn" style="display: inline-block; padding: 5px 10px;">수정</a>
							<a th:href="@{#}" class="btn" style="display: inline-block; padding: 5px 10px;">삭제</a>
						</th:block>
						<a th:href="@{/#}" class="btn" style="display: inline-block; padding: 5px 10px;">대댓글</a>
					</div>
				</li>
			</ul>
			<!-- 댓글 페이지네이션 -->
			<div class="pagination" id="pagination"></div>

			<!-- 댓글 작성 폼 -->
			<div id="commentFormContainer">
				<form id="commentForm" class="comment-form" name="comment" action="/comWrite" method="post">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" /> 
					<input type="hidden" name="board_no" th:value="${detail.board_no}">
					<textarea id="commentContent" name="com_comment" placeholder="댓글을 입력하세요"></textarea>
					<button type="submit" class="btn">댓글 작성</button>
				</form>
				<p id="loginMessage" class="login-message" style="display: none;">로그인 후 댓글을 작성할 수 있습니다.</p>
			</div>
					
			<!-- 버튼들 배치 -->
			<div class="btn-container">
				<a th:if ="${prevBoard != null}" th:href="@{/boardview(no=${prevBoard})}" class="btn">이전 글</a> 
				<a th:if="${prevBoard == null}" class="btn disabled">이전 글</a>
				
				<a th:href="@{/board}" class="btn">목록</a>
				
				<a th:if="${nextBoard != null}" th:href="@{/boardview(no=${nextBoard})}" class="btn">다음 글</a>
				<a th:if="${nextBoard == null}" class="btn disabled">다음 글</a>
				<a th:href="@{/boardWrite}" class="btn">글 작성</a>
			</div>
		</section>
	</div>

	<!-- Essential Scripts =====================================-->
	<!-- Main jQuery -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

	<script>
 	// csrf 토큰
    const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');
    
	function deleteBoard(no) {
		if (confirm("글을 삭제 하시겠습니까?")) {
			$.ajax({
				url: "/deleteBoard",
				type: "post",
				data: {'no' : no},
				beforeSend: function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				success: function(result) {
					debugger;
					if (result == "true") {
    					alert("삭제 완료되었습니다.");
    					location.href="/board";
					} else {
						location.href="/login";
					}
				},
				error: function (xhr, status, error) {
					
				}
			});
		}  else {
			alert("글 삭제를 취소하였습니다.");
		}
	}
	

		function modifyCom(no) {
			const com_content = document.getElementById('com_content' + no.toString());
			const comment = document.getElementById('comment' + no.toString());

			com_content.style.display = 'none';
			comment.style.display = 'block';
		}
		
	</script>
</html>
