<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block th:insert="~{menu.html::metaImport}"></th:block>
<title>ポスト作成</title>
<th:block th:insert="~{menu.html::headImport}"></th:block>
</head>
<body>
	<div class="container">
		<!-- 上段のバー - ロゴ, 掲示板メニュー, 検索ボックス, マイページ, ログイン -->
		<th:block th:insert="~{menu.html::navBar}"></th:block>
		<div class="row roundWhiteBox">
			<h3>ポスト作成</h3>
			<form name="board" action="/submitPost" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<div class="form-group board-form">
					<label for="board_title">タイトル</label> <input type="text"
						id="board_title" name="board_title" required
						placeholder="ポストのタイトルを入力して下さい。">
				</div>
				<div class="form-group board-form">
					<label for="board_content">内容</label>
					<textarea id="board_content" name="board_content" required
						placeholder="ポストの内容を入力して下さい。"></textarea>
					<button type="submit" class="btn">作成完了</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>