<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block th:insert="~{menu.html::metaImport}"></th:block>
<title>ポスト修正</title>
<th:block th:insert="~{menu.html::headImport}"></th:block>
</head>
<body>
	<div class="container">
	<!-- 上段のバー - ロゴ, 掲示板メニュー, 検索ボックス, マイページ, ログイン -->
		<th:block th:insert="~{menu.html::navBar}"></th:block>
	</div>
	<div class="container board-container">
		<div class="row roundWhiteBox">
			<h3>ポスト修正</h3>
			<form name="board" action="/boardUpdate" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<input type="hidden" name="board_no" th:value="${boardUpdate.board_no}" />
				<div class="form-group board-form">
					<label for="board_title">タイトル</label> <input type="text"
						id="board_title" name="board_title"  th:value="${boardUpdate.board_title}" required>
				</div>
				<div class="form-group board-form">
					<label for="board_content">内容</label>
					<textarea id="board_content" name="board_content" th:text="${boardUpdate.board_content}" required></textarea>
				</div>
				<div class="form-group board-form board-form-btn">
					<button type="submit" class="btn">作成完了</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>