<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
<meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">
  <th:block th:insert="~{menu.html::metaImport}"></th:block>
  <title th:text="${detail.board_title}">타이틀</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <style>
  	#content, #answer {
  		min-height: 150px;
  	}
  </style>
</head>

<body id="top">
<th:block th:insert="~{menu.html::header}"></th:block>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h1 th:text="${detail.board_title}">타이틀들어가는곳</h1>
					<div class="divider mx-auto my-4"></div>
					<div class="row justify-content-between">
						<div>
							<span>작성자 : </span>
							<span th:text="${detail.name}">이름칸</span>
						</div>
						<div>
							<span>작성일 : </span>
							<span th:text="${#dates.format(detail.board_date, 'yyyy-MM-dd HH:mm')}"></span>
						</div>
					</div>
					<hr>
					<h5 class="my-4" id="content" th:text="${detail.board_content}">글내용들어가는곳</h5>
					<hr>
					<th:block th:if="${answer != null}">
						<h5 class="my-4" id="answer" th:text="${answer.board_content}">글내용들어가는곳</h5>
					</th:block>
				</div>
				<div class="section-title text-center">
				</div>
				<div class="row justify-content-end">
					<button class="btn btn-outline-info" th:onclick="deleteBoard([[${detail.board_no}]])" th:text="삭제">삭제버튼</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- footer Start -->
<th:block th:insert="~{menu.html::footer}"></th:block>
   
    <!-- Essential Scripts =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    <th:block th:insert="~{menu.html::scriptImport}"></th:block>
    <script src="js/script.js"></script>
    <script src="js/contact.js"></script>
    <script type="text/javascript">
	 	// csrf 토큰
	    const header = $("meta[name='_csrf_header']").attr('content');
	    const token = $("meta[name='_csrf']").attr('content');
    
    	function deleteBoard(board_no) {
    		if (confirm("글을 삭제 하시겠습니까?")) {
    			$.ajax({
    				url: "/deleteBoard",
    				type: "post",
    				dataType: "text",
    				data: {'board_no' : board_no},
    				beforeSend: function(xhr) {
    					xhr.setRequestHeader(header, token);
    				},
    				success: function (result) {
    					if (result == 1) {
	    					alert("삭제 완료되었습니다.");
	    					location.href="/board";
    					}
    				},
    				error: function (xhr, status, error) {
    					alert("통신 에러 발생");
    				}
    			});
    		}  else {
    			alert("글 삭제를 취소하였습니다.");
    		}
    	}
    </script>
</body>
</html>
   
