<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  	<meta name="author" content="themefisher.com">
	<title>login</title>
	  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
	</head>
<body>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h1 th:text="로그인">로그인</h1>
					<div class="divider mx-auto my-4"></div>
					<div id="login">
						<form method="post" action="/login" name="loginForm">
							<div class="my-2">
								<label class="form-label" th:text="아이디" for="username"></label>
								<input class="form-control" type="text" name="username" placeholder="아이디"/>
							</div>
							<div class="my-2">
								<label class="form-label" th:text="비밀번호" for="password"></label>
								<input class="form-control" type="password" name="password" placeholder="비밀번호"/>
							</div>
							<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
							<button type="submit" class="btn btn-danger my-2" th:text="로그인">로그인버튼</button>
							<a th:href="@{/join}"><button type="button" class="btn btn-danger my-2" th:text="회원가입">회원가입</button></a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

    <!-- ===============  Essential Scripts  ======================-->
	<!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script>

    <script src="js/script.js"></script>
    <script src="js/contact.js"></script>
</body>
</html>