<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<head>
		<meta charset="UTF-8">
		<title>Fresh Main page</title>
		<th:block th:insert="~{menu.html::headImport}"></th:block>
	</head>
	
	<body>
		<div class="container">
			<!-- 상단바 - 로고, 게시판 메뉴, 검색창, 마이페이지, 로그인 -->
			<th:block th:insert="~{menu.html::navBar}"></th:block>
			<!-- 본문 -->
			<div class="row Main_Body">
				<!-- 본문-왼쪽(통합인기글, 통합최신글, 공지사항, 테마별최신글) -->
				<div class="col-md-9 Main_LeftBody">
					<!-- 통합 인기글 -->
					<div class="table_wrap">
						<table class="BestAll_table">
							<colgroup>
								<col width="80%"/>
								<col width="10%"/>
								<col width="10%"/>
							</colgroup>
							<thead class="table_label">
								<tr>
									<th scope="col" colspan="2" class="table_title">인기 게시글</th>
									<th scope="col" class="more_btn"><a href="#">더보기 > </a></th>
								</tr>
							</thead>
							<tbody class="table_body">
								<tr th:each="board:${MainHotPosts}">
									<td><a th:href="@{/detail(no=${board.board_no})}" th:text="${board.board_title}"></a></td>
									<td>❤️<span th:text="${board.board_like}"></span></td>
									<td>👁️<span th:text="${board.board_count}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 2단으로 배치될 글들 -->
					<div class="row 2col_row">
						<!-- 통합 최신글 -->
						<div class="col-md-6 leftbody_2col">
							<table class="NewAll_table">
								<colgroup>
									<col width="70%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead class="table_label">
									<tr>
										<th scope="col" colspan="2" class="table_title">최신 게시글</th>
										<th scope="col" class="more_btn"><a href="#">더보기 > </a></th>
									</tr>
								</thead>
								<tbody class="table_body">
									<tr th:each="board:${new_boards}">
										<td th:text="${board.board_title}"></td>
										<td>❤️<span th:text="${board.board_like}"></span></td>
										<td>👁️<span th:text="${board.board_count}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 공지사항 -->
						<div class="col-md-6 leftbody_2col">
							<table class="NewAll_table">
								<colgroup>
									<col width="70%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead class="table_label">
									<tr>
										<th scope="col" colspan="2" class="table_title">공지사항</th>
										<th scope="col" class="more_btn"><a href="#">더보기 > </a></th>
									</tr>
								</thead>
								<tbody class="table_body">
									<!-- 본작업때 넣을 거
										<tr th:each="board:${hot_boards}">
											<td th:text="${board.board_title}">게시글1</td>
											<td>❤️<span th:text="${board.board_like}"></span></td>
											<td>👁️<span th:text="${board.board_count}"></span></td>
										</tr>
									 -->
									<!-- 프론트 제작만을 위해 임시로 만들 거 -->
									<tr>
										<td><a href="#">프론트 임시 게시글 1</a></td>
										<td>❤️ 1</td>
										<td>👁️ 1</td>
									</tr>
									<tr>
										<td><a href="#">프론트 임시 게시글 2</a></td>
										<td>❤️ 2</td>
										<td>👁️ 2</td>
									</tr>
									<tr>
										<td><a href="#">프론트 임시 게시글 3</a></td>
										<td>❤️ 3</td>
										<td>👁️ 3</td>
									</tr>
									<tr>
										<td><a href="#">프론트 임시 게시글 4</a></td>
										<td>❤️ 4</td>
										<td>👁️ 4</td>
									</tr>
									<tr>
										<td><a href="#">프론트 임시 게시글 5</a></td>
										<td>❤️ 5</td>
										<td>👁️ 5</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- 본문-오른쪽(로그인창 혹은 회원정보창) -->
				<div class="col-md-3 Main_RightBody">
					<!-- 로그인창 - 로그인 안 되어 있을 시 -->
					<div class="side_login">
						<form method="post" name="side_login" action="#">
							<table class="login_table">
								<colgroup>
									<col width="55%"/>
									<col width="25%"/>
									<col width="20%"/>
								</colgroup>
								<thead>
									<tr>
										<th colspan="3">
											로그인
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2"><input type="text" placeholder="아이디"></td>
										<td rowspan="2" class="btn_td"><button type="submit">LogIn</button></td>
									</tr>
									<tr>
										<td colspan="2"><input type="text" placeholder="비밀번호"></td>
									</tr>
									<tr>
										<td>아이디/비밀번호 찾기</td>
										<td colspan="2">회원가입</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<!-- 회원 정보창 - 로그인 되어 있을 시 -->
					<div class="side_meminfo">
					
					</div>
				</div>
			</div>
			
			
		</div>
		<th:block th:insert="~{menu.html::scriptImport}"></th:block>
	</body>
</html>