<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Fresh Main page</title>
		<th:block th:insert="~{menu.html::headImport}"></th:block>
		<th:block th:insert="~{menu.html::metaImport}"></th:block>
	</head>
	
	<body>
		<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
		<div class="container">
			<!-- 上段のバー - ロゴ, 掲示板メニュー, 検索ボックス, マイページ, ログイン -->
			<th:block th:insert="~{menu.html::navBar}"></th:block>
			<!-- 本文 -->
			<div class="row Main_Body">
				<!-- 本文の左側(統合ホットポスト,統合最新ポスト,お知らせ,各カテゴリーの最新ポスト) -->
				<div class="col-md-9 Main_LeftBody roundWhiteBox">
					<!-- 統合ホットポスト -->
					<div>
						<table class="BestAll_table board-table">
							<colgroup>
								<col width="80%"/>
								<col width="10%"/>
								<col width="10%"/>
							</colgroup>
							<thead class="table_label">
								<tr>
									<th scope="col" class="table_title">人気ポスト</th>
									<th scope="col" colspan="2" class="more_btn"><a th:href="@{/board}">もっと見る > </a></th>
								</tr>
							</thead>
							<tbody class="table_body">
								<tr th:each="board:${MainHotPosts}">
									<td><a th:href="@{/boardview(no=${board.board_no})}" th:text="${board.board_title}"></a></td>
									<td>❤️<span th:text="${board.board_like}"></span></td>
									<td>👁️<span th:text="${board.board_count}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 二段で配置されるポスト -->
					<div class="row 2col_row">
						<!-- 統合最新ポスト-->
						<div class="col-md-6 leftbody_2col">
							<table class="NewAll_table board-table">
								<colgroup>
									<col width="70%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead class="table_label">
									<tr>
										<th scope="col" class="table_title">最新ポスト</th>
										<th scope="col" colspan="2" class="more_btn"><a th:href="@{/board}">もっと見る > </a></th>
									</tr>
								</thead>
								<tbody class="table_body">
									<tr th:each="board:${MainNewPosts}">
										<td><a th:href="@{/boardview(no=${board.board_no})}" th:text="${board.board_title}"></a></td>
										<td>❤️<span th:text="${board.board_like}"></span></td>
										<td>👁️<span th:text="${board.board_count}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- お知らせ -->
						<div class="col-md-6 leftbody_2col">
							<table class="NewAll_table board-table">
								<colgroup>
									<col width="70%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead class="table_label">
									<tr>
										<th scope="col" class="table_title">お知らせ</th>
										<th scope="col" colspan="2" class="more_btn"><a th:href="@{/board}">もっと見る > </a></th>
									</tr>
								</thead>
								<tbody class="table_body">
									<tr th:each="board:${MainNotice}">
										<td><a th:href="@{/boardview(no=${board.board_no})}" th:text="${board.board_title}"></a></td>
										<td>❤️<span th:text="${board.board_like}"></span></td>
										<td>👁️<span th:text="${board.board_count}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- 本文右側(ログインボックスor 会員情報ボックス) -->
				<div class="col-md-3 Main_RightBody">
					<!-- ログインボックス　- ログインしていない場合 -->
					<th:block th:if="${user.ROLE eq 'ROLE_ANONYMOUS'}">
						<div class="side_login roundWhiteBox">
							<form method="post" name="side_login" action="/login">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
								<table class="login_table">
									<colgroup>
										<col width="55%"/>
										<col width="20%"/>
										<col width="25%"/>
									</colgroup>
									<thead>
										<tr>
											<th colspan="3">ログイン</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="2"><input type="text" name="username" placeholder="ID`"></td>
											<td rowspan="2" class="btn_td">
												<button type="submit">LogIn</button>
											</td>
										</tr>
										<tr>
											<td colspan="2"><input type="password" name="password" placeholder="パスワード"></td>
										</tr>
										<tr>
											<td>ID/パスワードを探す</td>
											<td colspan="2"><a th:href="@{/join}">会員登録</a></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</th:block>
					<!-- 会員情報ボックス - ログインした場合 -->
					<th:block th:unless="${user.ROLE eq 'ROLE_ANONYMOUS'}">
					<div class="side_meminfo roundWhiteBox">
						<div style= "text-align:center;">
							<span id="user_id">[[${idandname.user_id}]] 様、歓迎します</span><br>
							<span id="user_username">[[${idandname.user_username}]]</span><br>
							<span id="user_mypage"><a th:href="@{/mypage/mypage}">MyPage&nbsp;</a></span>
	               			<span id="user_logout"><a th:href="@{/logout}">&nbsp;Logout</a></span>
						</div>
					</div>
					</th:block>
				</div>
			</div>
			
		</div>
		<th:block th:insert="~{menu.html::scriptImport}"></th:block>
	</body>
</html>