<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<head>
		<meta charset="UTF-8">
		<title>Fresh Main page</title>
		<th:block th:insert="~{menu.html::headImport}"></th:block>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<style>
		a {
			text-decoration:none;
			color: black;
			cursor: pointer;
		}
		.Main_LeftBody div {
			width: 100%;
		}
		.adm_body td{
			font-size: 14px;
		}
		/* メニュー css */
		.adm_menu {
			width: 100%;
		}
		.adm_menu tr{
			border-bottom: 1px solid lightgray;
		}
		.adm_menu th, .adm_menu td{
			padding: 10px 5px;
		}
		.adm_menu thead th{
			font-size: 20px;
		}
		.adm_menu tbody tr:hover{
			background-color: #F9F9F9;
			cursor: pointer;
		}
		
		/* 本文 css */
		.adm_body {
			width: 100%;
		}
		.adm_body tr{
			border-bottom: 1px solid lightgray;
		}
		.adm_body thead th{
			font-size: 16px;
		}
		.adm_body tfoot tr{
			border-bottom: none;
		}
		.adm_body tbody tr:hover{
			background-color: #F9F9F9;
			cursor: pointer;
		}
		.adm_body th, .adm_body td{
			padding: 10px 5px;
			text-align: center;
			border-right: 1px solid lightgray;
		}
		.adm_body th:last-child, .adm_body td:last-child{
			border-right: none;
		}
		.adm_body td a{
			display: inline-block;
			width: 100%;
		}
		.adm_body thead button, .adm_body tfoot button{
			border: 1px solid lightgray;
			border-radius: 5px;
			padding: 10px;
			background-color: #F9F9F9;
		}
		.btn-group {
			justify-content: space-evenly;
		}
		.btn-group button {
			border: none;
			border-radius: 10px 10px 0 0;
			background-color: transparent;
			padding: 10px;
			font-size: 20px;
			width: 100%;
		}
		.btn-group button:hover {
			background-color: #EEEEEE;
		}
		.active {
			background-color: #EEEEEE;
		}
		button.active {
			background-color: #EEEEEE;
		}
		.adm_trash th.check_all {
			vertical-align: middle;
			padding: 5px;
		}
		.check_all * {
			vertical-align: middle;
		}
		.adm_trash input[type="checkbox"], .adm_trash label {
			cursor: pointer;
		}
		.adm_body td.btn_td {
			display: flex;
			justify-content: space-around;
		}
		.adm_body td a.btn {
			display: inline;
			border: 1px solid lightgray;
			width: auto;
			padding: 5px 12px; 
		}
		.adm_body td a.btn:hover {
			background-color: gray;
			color: white;
		}
		.adm_noti thead th a.btn {
			display: inline;
			border: 1px solid lightgray;
			width: auto;
			padding: 10px 12px;
		}
		.adm_noti thead th a.btn:hover {
			background-color: gray;
			color: white;
		}
		</style>
	</head>
	
	<body>
		<div class="container">
			<!-- 上段のバー - ロゴ, 掲示板メニュー, 検索ボックス, マイページ, ログイン -->
			<th:block th:insert="~{menu.html::navBar}"></th:block>
			<!-- 本文 -->
			<div class="row Main_Body">
				<!-- 本文- -->
				<div class="col-md-10 Main_LeftBody">
					<!-- 会員管理テーブル -->
					<!-- 会員情報をクリックした場合、会員情報修正(左)、会員が作成したポスト(右)ページへ移動 -->
					<!-- 会員番号, ID, 名前, メールアドレス -->
					<div id="adm_mem">
						<table class="adm_mem adm_body">
							<colgroup>
								<col width="15%"/>
								<col width="25%"/>
								<col width="20%"/>
								<col width="40%"/>
							</colgroup>
							<thead>
								<tr>
									<th>会員番号</th>
									<th>ID</th>
									<th>名前</th>
									<th>メール</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mem:${members}">
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_no}"></a></td>
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_id}"></a></td>
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_name}"></a></td>
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_email}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ポストの管理テーブル -->
					<!-- 最近作成されたポスト, クリックする場合詳細ページ(修正、削除可能)へ移動 -->
					<div id="adm_post" style="display:none">
						<table class="adm_post adm_body">
							<colgroup>
								<col width="10%"/><!-- ポスト番号 -->
								<col width="10%"/><!-- ユーザー名 -->
								<col width="10%"/><!-- カテゴリー -->
								<col width="27%"/><!-- タイトル -->
								<col width="13%"/><!-- 作成日-->
								<col width="15%"/><!-- ♥/ビュー -->
								<col width="15%"/><!-- 削除の状態 -->
							</colgroup>
							<thead>
								<tr>
									<th>ポスト番号</th>
									<th>ユーザー名</th>
									<th>カテゴリー</th>
									<th>タイトル</th>
									<th>作成日</th>
									<th>♥/ビュー </th>
									<th>修正/削除</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="post:${posts}">
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.board_no}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.board_write}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.category}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.board_title}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${#dates.format(post.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="'❤️ '+${post.board_like}+'/👁️ '+${post.board_count}"></a></td>
									<td class="btn_td">
										<a th:href="@{/admin/boardUpdate(no=${post.board_no})}" class="btn">修正</a>
										<a th:onclick="postDelete([[${post.board_no}]])" class="btn">削除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- コメントの管理テーブル -->
					<!-- 最近作成されたコメントの情報,クリックする場合詳細ページへ移動 -->
					<div id="adm_com" style="display:none">
						<table class="adm_com adm_body">
							<colgroup>
								<col width="10%"/>
								<col width="10%"/>
								<col width="10%"/>
								<col width="29%"/>
								<col width="13%"/>
								<col width="13%"/>
								<col width="15%"/>
							</colgroup>
							<thead>
								<tr>
									<th>コメント<p>番号</p></th>
									<th>ポスト番号</th>
									<th>ユーザー名</th>
									<th>内容</th>
									<th>作成日</th>
									<th>修正日</th>
									<th>修正/削除</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="com:${comments}">
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.com_no}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.board_no}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.user_username}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.com_comment}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${#dates.format(com.com_cdate, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${#dates.format(com.com_mdate, 'yyyy-MM-dd')}"></a></td>
									<td class="btn_td">
										<a th:href="@{#}" class="btn">修正</a>
										<a th:onclick="commentDelete([[${com.com_no}]])" class="btn">削除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- お知らせのテーブル -->
					<!-- 上のお知らせの作成へ移動 -->
					<div id="adm_noti" style="display:none">
						<table class="adm_noti adm_body">
							<colgroup>
								<col width="10%"/>
								<col width="40%"/>
								<col width="15%"/>
								<col width="10%"/>
								<col width="10%"/>
								<col width="15%"/>
							</colgroup>
							<thead>
								<tr>
									<th colspan="6" style="text-align: right;">
										<a th:href="@{/admin/noticeWrite}" class="btn" style="margin-bottom: 5px">お知らせ作成</a>
									</th>
								</tr>
								<tr>
									<th>ポスト番号</th>
									<th>タイトル</th>
									<th>作成日</th>
									<th>♥</th>
									<th>ビュー</th>
									<th>修正/削除</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="noti:${notices}">
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_no}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_title}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${#dates.format(noti.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_like}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_count}"></a></td>
									<td class="btn_td">
										<a th:href="@{/admin/boardUpdate(no=${noti.board_no})}" class="btn">修正</a>
										<a th:onclick="postDelete([[${noti.board_no}]])" class="btn">削除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- ゴミ箱 -->
					<div id="adm_trash" style="display:none">
						<div class="btn-group">
							<button class="active" id="del_posts" onclick="clickTrashBtn(0)">削除されたポスト</button>
							<button id="del_com" onclick="clickTrashBtn(1)">削除されたコメント</button>
							<button id="del_noti" onclick="clickTrashBtn(2)">削除されたお知らせ</button>
						</div>
						<!-- 削除されたポスト -->
						<form name="postRestore" id="postRestore" action="/admin/postRestore" method="post">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						</form>
						<form name="postEliminate" id="postEliminate" action="/admin/postEliminate" method="post">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						</form>
						<table class="adm_trash adm_body" id="del_posts">
							<colgroup>
								<col width="7%"/><!-- 選択ボックス -->
								<col width="10%"/><!-- ポスト番号 -->
								<col width="10%"/><!-- ユーザー名 -->
								<col width="10%"/><!-- カテゴリー -->
								<col width="33%"/><!-- タイトル -->
								<col width="15%"/><!-- 作成日 -->
								<col width="15%"/><!-- ♥/ビュー -->
							</colgroup>
							<thead>
								<tr>
									<th class="check_all" style="text-align: left;">
										<input type="checkbox" name="delPosts" id="check_all_post" onclick="selectAll(this)">
										<label for="check_all_post">全体</label>
									</th>
									<th>ポスト番号</th>
									<th>ユーザー名</th>
									<th>カテゴリー</th>
									<th>タイトル</th>
									<th>作成日</th>
									<th>♥/ビュー</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="post:${del_posts}">
									<td><input type="checkbox" name="delPosts" th:value="${post.board_no}"></td>
									<td><a th:href="@{#}" th:text="${post.board_no}"></a></td>
									<td><a th:href="@{#}" th:text="${post.board_write}"></a></td>
									<td><a th:href="@{#}" th:text="${post.category}"></a></td>
									<td><a th:href="@{#}" th:text="${post.board_title}"></a></td>
									<td><a th:href="@{#}" th:text="${#dates.format(post.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{#}" th:text="'❤️ '+${post.board_like}+'/👁️ '+${post.board_count}"></a></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7" style="text-align: right">
										<button onclick="postsRestore('delPosts')">選択したポスト復旧</button>
										<button onclick="postsEliminate('delPosts')">選択したポスト永久削除</button>
									</td>
								</tr>
							</tfoot>
						</table>
						
						<!-- 削除されたコメント -->
						<form name="comRestore" id="comRestore" action="/admin/comRestore" method="post">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						</form>
						<form name="comsEliminate" id="comsEliminate" action="/admin/comsEliminate" method="post">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
						</form>
						<table class="adm_com adm_body" id="del_com" style="display:none;">
								<colgroup>
									<col width="7%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="33%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead>
									<tr>
										<th class="check_all" style="text-align: left;">
											<input type="checkbox" name="delComs" id="check_all_post" onclick="selectAll(this)">
											<label for="check_all_post"> 全体</label>
										</th>
										<th>コメント番号</th>
										<th>ポスト番号</th>
										<th>ユーザー名</th>
										<th>内容</th>
										<th>作成日</th>
										<th>修正日</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="com:${del_coms}">
										<td><input type="checkbox" name="delComs" th:value="${com.com_no}"></td>
										<td><a th:href="@{#}" th:text="${com.com_no}"></a></td>
										<td><a th:href="@{#}" th:text="${com.board_no}"></a></td>
										<td><a th:href="@{#}" th:text="${com.user_username}"></a></td>
										<td><a th:href="@{#}" th:text="${com.com_comment}"></a></td>
										<td><a th:href="@{#}" th:text="${#dates.format(com.com_cdate, 'yyyy-MM-dd')}"></a></td>
										<td><a th:href="@{#}" th:text="${#dates.format(com.com_mdate, 'yyyy-MM-dd')}"></a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="7" style="text-align: right">
											<button onclick="comsRestore('delComs')">選択したコメント復旧</button>
											<button onclick="comEliminate('delComs')">選択したコメント永久削除</button>
										</td>
									</tr>
								</tfoot>
							</table>

						<!-- 削除されたお知らせ -->
						<table class="adm_noti adm_body" id="del_noti" style="display:none;">
							<colgroup>
								<col width="7%"/>
								<col width="10%"/>
								<col width="43%"/>
								<col width="20%"/>
								<col width="10%"/>
								<col width="10%"/>
							</colgroup>
							<thead>
								<tr>
									<th class="check_all" style="text-align: left;">
										<input type="checkbox" name="delNotis" id="check_all_post" onclick="selectAll(this)">
										<label for="check_all_post"> 全体</label>
									</th>
									<th>ポスト番号</th>
									<th>タイトル</th>
									<th>作成日</th>
									<th>♥</th>
									<th>ビュー</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="noti:${del_notis}">
									<td><input type="checkbox" name="delNotis" th:value="${noti.board_no}"></td>
									<td><a th:href="@{#}" th:text="${noti.board_no}"></a></td>
									<td><a th:href="@{#}" th:text="${noti.board_title}"></a></td>
									<td><a th:href="@{#}" th:text="${#dates.format(noti.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{#}" th:text="${noti.board_like}"></a></td>
									<td><a th:href="@{#}" th:text="${noti.board_count}"></a></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7" style="text-align: right">
										<button onclick="postsRestore('delNotis')">選択したポスト復旧</button>
										<button onclick="postsEliminate('delNotis')">選択したポスト永久削除</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<!-- 本文‐右側(メニュー-会員管理, ポスト管理, コメント管理) -->
				<div class="col-md-2 Main_RightBody">
					<table class="adm_menu">
						<thead>
							<tr>
								<th>管理者メニュー</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="adm_mem" class="active"><a onclick="clickMenu(0)">会員管理</a></td>
							</tr>
							<tr>
								<td id="adm_post"><a onclick="clickMenu(1)">ポスト管理</a></td>
							</tr>
							<tr>
								<td id="adm_com"><a onclick="clickMenu(2)">コメント管理</a></td>
							</tr>
							<tr>
								<td id="adm_noti"><a onclick="clickMenu(3)">お知らせ</a></td>
							</tr>
							<tr>
								<td id="adm_trash"><a onclick="clickMenu(4)">ゴミ箱</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<th:block th:insert="~{menu.html::scriptImport}"></th:block>
		
		<script>
			function clickMenu(menu){
				const div_adm_mem = document.querySelector('div#adm_mem');
				const div_adm_post = document.querySelector('div#adm_post');
				const div_adm_com = document.querySelector('div#adm_com');
				const div_adm_noti = document.querySelector('div#adm_noti');
				const div_adm_trash = document.querySelector('div#adm_trash');
				
				const td_adm_mem = document.querySelector('td#adm_mem');
				const td_adm_post = document.querySelector('td#adm_post');
				const td_adm_com = document.querySelector('td#adm_com');
				const td_adm_noti = document.querySelector('td#adm_noti');
				const td_adm_trash = document.querySelector('td#adm_trash');
				
				const bodies = [div_adm_mem, div_adm_post, div_adm_com, div_adm_noti, div_adm_trash];
				const menus = [td_adm_mem, td_adm_post, td_adm_com, td_adm_noti, td_adm_trash];
				
				for(let i = 0; i < bodies.length; i++){
					if (i == menu){
						bodies[i].style.display = 'table';
						menus[i].classList.add('active');
					}
					else{
						bodies[i].style.display = 'none';
						menus[i].classList.remove('active');
					}
				}
			}
			
			function clickTrashBtn(btn){
				const btn_del_posts = document.querySelector('button#del_posts');
				const btn_del_com = document.querySelector('button#del_com');
				const btn_del_noti = document.querySelector('button#del_noti');
				
				const tbl_del_posts = document.querySelector('table#del_posts');
				const tbl_del_com = document.querySelector('table#del_com');
				const tbl_del_noti = document.querySelector('table#del_noti');
				
				const btns = [btn_del_posts, btn_del_com, btn_del_noti];
				const tables = [tbl_del_posts, tbl_del_com, tbl_del_noti];
				
				for(let i = 0; i < btns.length; i++){
					if (i == btn){
						btns[i].classList.add('active');
						tables[i].style.display = 'table';
					}
					else{
						btns[i].classList.remove('active');
						tables[i].style.display = 'none';
					}
				}
			}
			
			function selectAll(allBtn){
				const checkboxes = document.getElementsByName(allBtn.name);
				
				checkboxes.forEach((checkbox) => {
					checkbox.checked = allBtn.checked;
				})
			}
		</script>
		<script th:inline="javascript">
	        /*<![CDATA[*/
	        // ThymeleafのURLを動的に生成して使えるように設定
	        var memUrl = /*[[${'/admin/adminMem'}]]*/ '/admin/adminMem';  // Thymeleafの文法でURLを処理
	
	        // toMemPage 機能の定義
	        function toMemPage(userNo) {
	        	userNo = parseInt(userNo, 10);
	            // 動的にform生成
	            var memForm = document.createElement('form');
	            memForm.method = 'get';
	            memForm.action = memUrl;  // ThymeleafのURLを使用
	
	            // user_no バリューをhiddenに伝達
	            var userNoInput = document.createElement('input');
	            userNoInput.type = 'hidden';
	            userNoInput.name = 'user_no';  // サーバーで使うパラメータの名前
	            userNoInput.value = userNo;  // ボタンをクリックする場合、もらったuser_noのバリュー
	            memForm.appendChild(userNoInput);
	
	            // formを bodyに追加して提出
	            document.body.appendChild(memForm);
	            memForm.submit();
	        }
	        /*]]>*/
    	</script>
    	<script th:inline="javascript">
	        /*<![CDATA[*/
	       	// Thymeleaf URLを動的に生成して使えるように設定
	        var postDelUrl = /*[[${'/admin/postDel'}]]*/ '/admin/postDel';  // Thymeleafの文法でURLを処理
	        
	        function postDelete(board_no){
				if(confirm('本当に ' + board_no + '番ポストを削除しますか？')){
					board_no = parseInt(board_no, 10);
		            // 動的にformを生成
		            var postDelForm = document.createElement('form');
		            postDelForm.method = 'get';
		            postDelForm.action = postDelUrl;  // ThymeleafのURLを使用
		
		            // user_noのバリューをhidden に伝達
		            var boardNoInput = document.createElement('input');
		            boardNoInput.type = 'hidden';
		            boardNoInput.name = 'board_no';  // サーバーで使うパラメータの名前
		            boardNoInput.value = board_no;  // ボタンをクリックする場合、もらった user_noのバリュー
		            postDelForm.appendChild(boardNoInput);
		
		            // formを bodyに追加して提出
		            document.body.appendChild(postDelForm);
		            postDelForm.submit();
				}
			}
	        /*]]>*/
    	</script>
    	<script th:inline="javascript">
	        /*<![CDATA[*/
	       	// Thymeleafの URLを動的に生成して使えるように設定
	        var comDelUrl = /*[[${'/admin/comDel'}]]*/ '/admin/comDel';  // Thymeleafの文法でURLを処理
	        
	        function commentDelete(com_no){
				if(confirm('本当に ' + com_no + '番コメントを削除しますか？')){
					com_no = parseInt(com_no, 10);
		            // 動的にformを生成
		            var comDelForm = document.createElement('form');
		            comDelForm.method = 'get';
		            comDelForm.action = comDelUrl;  // ThymeleafのURLを使用
		
		            // user_noのバリューをhiddenに伝達
		            var comNoInput = document.createElement('input');
		            comNoInput.type = 'hidden';
		            comNoInput.name = 'com_no';  // サーバーで使うパラメータの名前
		            comNoInput.value = com_no;  // ボタンをクリックする場合、もらったuser_noバリュー
		            comDelForm.appendChild(comNoInput);
		
		            // formをbodyに追加して提出
		            document.body.appendChild(comDelForm);
		            comDelForm.submit();
				}
			}
	        /*]]>*/
    	</script>
    	<script>
	        function postsRestore(name){
	        	const chkedRstPosts = document.getElementsByName(name);
				let postRstString = "";
				
				chkedRstPosts[0].parentNode.removeChild(chkedRstPosts[0]);

				chkedRstPosts.forEach((checkbox) =>{
					if (checkbox.checked){
						postRstString += checkbox.value;
						postRstString += ",";
					}
					
				})
				
				postRstString = postRstString.slice(0, -1);
				
				if(confirm('本当に ' + postRstString + '番ポストを復旧しますか？')){
		            var postRstForm = document.getElementById('postRestore');
		
		            var postRstNum = document.createElement('input');
		            postRstNum.type = 'hidden';
		            postRstNum.name = 'postNum';
		            postRstNum.value = postRstString;
		            postRstForm.appendChild(postRstNum);
		            postRstForm.submit();
				}
			}
	        
	        function comsRestore(name){
	        	const chkedRstComs = document.getElementsByName(name);
				let comRstString = "";
				
				chkedRstComs[0].parentNode.removeChild(chkedRstComs[0]);

				chkedRstComs.forEach((checkbox) =>{
					if (checkbox.checked){
						comRstString += checkbox.value;
						comRstString += ",";
					}
				})
				
				comRstString = comRstString.slice(0, -1);
				
				if(confirm('本当に ' + comRstString + '番コメントを復旧しますか？')){
		            var comRstForm = document.getElementById('comRestore');
		
		            var comRstNum = document.createElement('input');
		            comRstNum.type = 'hidden';
		            comRstNum.name = 'comNum';
		            comRstNum.value = comRstString;
		            comRstForm.appendChild(comRstNum);
		            comRstForm.submit();
				}
			}
	        function postsEliminate(name){
	        	const chkedEliPosts = document.getElementsByName(name);
				let postEliString = "";
				
				chkedEliPosts[0].parentNode.removeChild(chkedEliPosts[0]);

				chkedEliPosts.forEach((checkbox) =>{
					if (checkbox.checked){
						postEliString += checkbox.value;
						postEliString += ",";
					}
				})
				
				postEliString = postEliString.slice(0, -1);
				
				if(confirm('本当に ' + postEliString + '番ポストを永久に削除しますか？')){
		            var postEliForm = document.getElementById('postEliminate');
		
		            var postEliNum = document.createElement('input');
		            postEliNum.type = 'hidden';
		            postEliNum.name = 'postNum';
		            postEliNum.value = postEliString;
		            postEliForm.appendChild(postEliNum);
		            postEliForm.submit();
				}
			}
	        
	        function comEliminate(name){
	        	const chkedEliComs = document.getElementsByName(name);
				let comEliString = "";
				
				chkedEliComs[0].parentNode.removeChild(chkedEliComs[0]);

				chkedEliComs.forEach((checkbox) =>{
					if (checkbox.checked){
						comEliString += checkbox.value;
						comEliString += ",";
					}
				})
				
				comEliString = comEliString.slice(0, -1);
				
				if(confirm('本当に ' + comEliString + '番コメントを永久に削除しますか？')){
		            var comEliForm = document.getElementById('comRestore');
		
		            var comEliNum = document.createElement('input');
		            comEliNum.type = 'hidden';
		            comEliNum.name = 'comNum';
		            comEliNum.value = comEliString;
		            comEliForm.appendChild(comEliNum);
		            comEliForm.submit();
				}
			}
    	</script>
	</body>
</html>