<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<head>
		<meta charset="UTF-8">
		<title>Fresh Main page</title>
		<th:block th:insert="~{menu.html::headImport}"></th:block>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<style>
		a {
			text-decoration:none;
			color: black;
			cursor: pointer;
		}
		.Main_LeftBody div {
			width: 100%;
		}
		.adm_body td{
			font-size: 14px;
		}
		td * {
			font-family: 'Pretendard-Regular';
		}
		/* 메뉴 css */
		.adm_menu {
			width: 100%;
		}
		.adm_menu tr{
			border-bottom: 1px solid lightgray;
		}
		.adm_menu th, .adm_menu td{
			padding: 10px 5px;
		}
		.adm_menu thead th{
			font-size: 20px;
		}
		.adm_menu tbody tr:hover{
			background-color: #F9F9F9;
			cursor: pointer;
		}
		
		/* 본문 css */
		.adm_body {
			width: 100%;
		}
		.adm_body tr{
			border-bottom: 1px solid lightgray;
		}
		.adm_body thead th{
			font-size: 16px;
		}
		.adm_body tfoot tr{
			border-bottom: none;
		}
		.adm_body tbody tr:hover{
			background-color: #F9F9F9;
			cursor: pointer;
		}
		.adm_body th, .adm_body td{
			padding: 10px 5px;
			text-align: center;
			border-right: 1px solid lightgray;
		}
		.adm_body th:last-child, .adm_body td:last-child{
			border-right: none;
		}
		.adm_body td a{
			display: inline-block;
			width: 100%;
		}
		.adm_body thead button, .adm_body tfoot button{
			font-family: 'GmarketSansMedium';
			border: 1px solid lightgray;
			border-radius: 5px;
			padding: 10px 10px 5px 10px;
			background-color: #F9F9F9;
		}
		.btn-group {
			justify-content: space-evenly;
		}
		.btn-group button {
			border: none;
			border-radius: 10px 10px 0 0;
			background-color: transparent;
			padding: 10px 10px 5px 10px;
			font-size: 20px;
			width: 100%;
		}
		.btn-group button:hover {
			background-color: #EEEEEE;
		}
		.active {
			background-color: #EEEEEE;
		}
		button.active {
			background-color: #EEEEEE;
		}
		.adm_trash th.check_all {
			vertical-align: middle;
			padding: 5px;
		}
		.check_all * {
			vertical-align: middle;
		}
		.adm_trash input[type="checkbox"], .adm_trash label {
			cursor: pointer;
		}
		.adm_body td.btn_td {
			display: flex;
			justify-content: space-around;
		}
		.adm_body td a.btn {
			display: inline;
			border: 1px solid lightgray;
			width: auto;
			padding: 5px 12px 0px 12px; 
		}
		.adm_body td a.btn:hover {
			background-color: gray;
			color: white;
		}
		.adm_noti thead th a.btn {
			display: inline;
			border: 1px solid lightgray;
			width: auto;
			padding: 10px 12px 5px 12px;
		}
		.adm_noti thead th a.btn:hover {
			background-color: gray;
			color: white;
		}
		</style>
	</head>
	
	<body>
		<div class="container">
			<!-- 상단바 - 로고, 게시판 메뉴, 검색창, 마이페이지, 로그인 -->
			<th:block th:insert="~{menu.html::navBar}"></th:block>
			<!-- 본문 -->
			<div class="row Main_Body">
				<!-- 본문- -->
				<div class="col-md-10 Main_LeftBody">
					<!-- 회원관리 테이블 -->
					<!-- 회원 정보 클릭시 회원 정보 수정(좌) 회원이 작성한 글 목록(우) 페이지로 이동 -->
					<!-- 회원번호, 아이디, 이름, 이메일 정도만 간단히 -->
					<div id="adm_mem">
						<table class="adm_mem adm_body">
							<colgroup>
								<col width="15%"/>
								<col width="25%"/>
								<col width="20%"/>
								<col width="40%"/>
							</colgroup>
							<thead>
								<tr>
									<th>회원번호</th>
									<th>아이디</th>
									<th>이름</th>
									<th>이메일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mem:${members}">
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_no}"></a></td>
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_id}"></a></td>
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_name}"></a></td>
									<td><a th:onclick="toMemPage([[${mem.user_no}]])" th:text="${mem.user_email}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- 게시글관리 테이블 -->
					<!-- 최근에 작성된 게시글들, 클릭시 상세보기 페이지(수정, 삭제 가능) -->
					<div id="adm_post" style="display:none">
						<table class="adm_post adm_body">
							<colgroup>
								<col width="10%"/><!-- 게시글번호 -->
								<col width="10%"/><!-- 작성자이름 -->
								<col width="10%"/><!-- 카테고리 -->
								<col width="27%"/><!-- 제목 -->
								<col width="13%"/><!-- 작성일 -->
								<col width="15%"/><!-- 추천/조회수 -->
								<col width="15%"/><!-- 삭제여부 -->
							</colgroup>
							<thead>
								<tr>
									<th>게시글번호</th>
									<th>작성자이름</th>
									<th>카테고리</th>
									<th>제목</th>
									<th>작성일</th>
									<th>추천/조회수</th>
									<th>수정/삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="post:${posts}">
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.board_no}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.board_write}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.category}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${post.board_title}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="${#dates.format(post.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{/boardview(no=${post.board_no})}" th:text="'❤️ '+${post.board_like}+'/👁️ '+${post.board_count}"></a></td>
									<td class="btn_td"><a th:href="@{#}" class="btn">수정</a><a th:onclick="postDelete([[${post.board_no}]])" class="btn">삭제</a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- 댓글관리 테이블 -->
					<!-- 최근에 작성된 댓글 정보들, 클릭시 상세보기 페이지로 이동 -->
					<div id="adm_com" style="display:none">
						<table class="adm_com adm_body">
							<colgroup>
								<col width="10%"/>
								<col width="10%"/>
								<col width="10%"/>
								<col width="29%"/>
								<col width="13%"/>
								<col width="13%"/>
								<col width="15%"/>
							</colgroup>
							<thead>
								<tr>
									<th>댓글번호</th>
									<th>게시글번호</th>
									<th>작성자이름</th>
									<th>내용</th>
									<th>작성일</th>
									<th>수정일</th>
									<th>수정/삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="com:${comments}">
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.com_no}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.board_no}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.user_username}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${com.com_comment}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${#dates.format(com.com_cdate, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{/boardview(no=${com.board_no})}" th:text="${#dates.format(com.com_mdate, 'yyyy-MM-dd')}"></a></td>
									<td class="btn_td">
										<a th:href="@{#}" class="btn">수정</a>
										<a th:onclick="commentDelete([[${com.com_no}]])" class="btn">삭제</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- 공지사항 테이블 -->
					<!-- 위에 공지사항 작성으로 이동 -->
					<div id="adm_noti" style="display:none">
						<table class="adm_noti adm_body">
							<colgroup>
								<col width="10%"/>
								<col width="40%"/>
								<col width="15%"/>
								<col width="10%"/>
								<col width="10%"/>
								<col width="15%"/>
							</colgroup>
							<thead>
								<tr>
									<th colspan="6" style="text-align: right">
										<a th:href="@{/admin/noticeWrite}" class="btn">공지 작성</a>
									</th>
								</tr>
								<tr>
									<th>게시글번호</th>
									<th>제목</th>
									<th>작성일</th>
									<th>추천수</th>
									<th>조회수</th>
									<th>수정/삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="noti:${notices}">
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_no}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_title}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${#dates.format(noti.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_like}"></a></td>
									<td><a th:href="@{/boardview(no=${noti.board_no})}" th:text="${noti.board_count}"></a></td>
									<td class="btn_td"><a th:href="@{#}" class="btn">수정</a><a th:onclick="postDelete([[${noti.board_no}]])" class="btn">삭제</a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- 휴지통 -->
					<div id="adm_trash" style="display:none">
						<div class="btn-group">
							<button class="active" id="del_posts" onclick="clickTrashBtn(0)">삭제된 게시글</button>
							<button id="del_com" onclick="clickTrashBtn(1)">삭제된 댓글</button>
							<button id="del_noti" onclick="clickTrashBtn(2)">삭제된 공지</button>
						</div>
						<!-- 삭제된 게시글 -->
						<table class="adm_trash adm_body" id="del_posts">
							<colgroup>
								<col width="7%"/><!-- 선택 -->
								<col width="10%"/><!-- 게시글번호 -->
								<col width="10%"/><!-- 작성자이름 -->
								<col width="10%"/><!-- 카테고리 -->
								<col width="33%"/><!-- 제목 -->
								<col width="15%"/><!-- 작성일 -->
								<col width="15%"/><!-- 추천/조회수 -->
							</colgroup>
							<thead>
								<tr>
									<th class="check_all" style="text-align: left;">
										<input type="checkbox" name="delPosts" id="check_all_post" onclick="selectAll(this)">
										<label for="check_all_post">전체</label>
									</th>
									<th>게시글번호</th>
									<th>작성자이름</th>
									<th>카테고리</th>
									<th>제목</th>
									<th>작성일</th>
									<th>추천/조회수</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="post:${del_posts}">
									<td><input type="checkbox" name="delPosts" th:value="${post.board_no}"></td>
									<td><a th:href="@{#}" th:text="${post.board_no}"></a></td>
									<td><a th:href="@{#}" th:text="${post.board_write}"></a></td>
									<td><a th:href="@{#}" th:text="${post.category}"></a></td>
									<td><a th:href="@{#}" th:text="${post.board_title}"></a></td>
									<td><a th:href="@{#}" th:text="${#dates.format(post.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{#}" th:text="'❤️ '+${post.board_like}+'/👁️ '+${post.board_count}"></a></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7" style="text-align: right">
										<a class="btn" onclick="clickRestore('delPosts')">선택 게시글 복구</a>
										<button>선택 게시글 영구삭제</button>
									</td>
								</tr>
							</tfoot>
						</table>
						
						<!-- 삭제된 댓글 -->
						<table class="adm_com adm_body" id="del_com" style="display:none;">
								<colgroup>
									<col width="7%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="33%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead>
									<tr>
										<th class="check_all" style="text-align: left;">
											<input type="checkbox" name="delComs" id="check_all_post" onclick="selectAll(this)">
											<label for="check_all_post"> 전체</label>
										</th>
										<th>댓글번호</th>
										<th>게시글번호</th>
										<th>작성자이름</th>
										<th>내용</th>
										<th>작성일</th>
										<th>수정일</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="com:${del_coms}">
										<td><input type="checkbox" name="delComs"></td>
										<td><a th:href="@{#}" th:text="${com.com_no}"></a></td>
										<td><a th:href="@{#}" th:text="${com.board_no}"></a></td>
										<td><a th:href="@{#}" th:text="${com.user_username}"></a></td>
										<td><a th:href="@{#}" th:text="${com.com_comment}"></a></td>
										<td><a th:href="@{#}" th:text="${#dates.format(com.com_cdate, 'yyyy-MM-dd')}"></a></td>
										<td><a th:href="@{#}" th:text="${#dates.format(com.com_mdate, 'yyyy-MM-dd')}"></a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="7" style="text-align: right">
											<button>선택 게시글 복구</button>
											<button>선택 게시글 영구삭제</button>
										</td>
									</tr>
								</tfoot>
							</table>

						<!-- 삭제된 공지 -->
						<table class="adm_noti adm_body" id="del_noti" style="display:none;">
							<colgroup>
								<col width="7%"/>
								<col width="10%"/>
								<col width="43%"/>
								<col width="20%"/>
								<col width="10%"/>
								<col width="10%"/>
							</colgroup>
							<thead>
								<tr>
									<th class="check_all" style="text-align: left;">
										<input type="checkbox" name="delNotis" id="check_all_post" onclick="selectAll(this)">
										<label for="check_all_post"> 전체</label>
									</th>
									<th>게시글번호</th>
									<th>제목</th>
									<th>작성일</th>
									<th>추천수</th>
									<th>조회수</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="noti:${del_notis}">
									<td><input type="checkbox" name="delNotis"></td>
									<td><a th:href="@{#}" th:text="${noti.board_no}"></a></td>
									<td><a th:href="@{#}" th:text="${noti.board_title}"></a></td>
									<td><a th:href="@{#}" th:text="${#dates.format(noti.board_date, 'yyyy-MM-dd')}"></a></td>
									<td><a th:href="@{#}" th:text="${noti.board_like}"></a></td>
									<td><a th:href="@{#}" th:text="${noti.board_count}"></a></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7" style="text-align: right">
										<button onclick="clickRestore('delNotis')">선택 게시글 복구</button>
										<button>선택 게시글 영구삭제</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<!-- 본문-오른쪽(메뉴-회원관리, 게시글관리, 댓글관리) -->
				<div class="col-md-2 Main_RightBody">
					<table class="adm_menu">
						<thead>
							<tr>
								<th>관리자 메뉴</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="adm_mem" class="active"><a onclick="clickMenu(0)">회원관리</a></td>
							</tr>
							<tr>
								<td id="adm_post"><a onclick="clickMenu(1)">게시글관리</a></td>
							</tr>
							<tr>
								<td id="adm_com"><a onclick="clickMenu(2)">댓글관리</a></td>
							</tr>
							<tr>
								<td id="adm_noti"><a onclick="clickMenu(3)">공지사항</a></td>
							</tr>
							<tr>
								<td id="adm_trash"><a onclick="clickMenu(4)">휴지통</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<th:block th:insert="~{menu.html::scriptImport}"></th:block>
		
		<script>
			function clickMenu(menu){
				const div_adm_mem = document.querySelector('div#adm_mem');
				const div_adm_post = document.querySelector('div#adm_post');
				const div_adm_com = document.querySelector('div#adm_com');
				const div_adm_noti = document.querySelector('div#adm_noti');
				const div_adm_trash = document.querySelector('div#adm_trash');
				
				const td_adm_mem = document.querySelector('td#adm_mem');
				const td_adm_post = document.querySelector('td#adm_post');
				const td_adm_com = document.querySelector('td#adm_com');
				const td_adm_noti = document.querySelector('td#adm_noti');
				const td_adm_trash = document.querySelector('td#adm_trash');
				
				const bodies = [div_adm_mem, div_adm_post, div_adm_com, div_adm_noti, div_adm_trash];
				const menus = [td_adm_mem, td_adm_post, td_adm_com, td_adm_noti, td_adm_trash];
				
				for(let i = 0; i < bodies.length; i++){
					if (i == menu){
						bodies[i].style.display = 'table';
						menus[i].classList.add('active');
					}
					else{
						bodies[i].style.display = 'none';
						menus[i].classList.remove('active');
					}
				}
			}
			
			function clickTrashBtn(btn){
				const btn_del_posts = document.querySelector('button#del_posts');
				const btn_del_com = document.querySelector('button#del_com');
				const btn_del_noti = document.querySelector('button#del_noti');
				
				const tbl_del_posts = document.querySelector('table#del_posts');
				const tbl_del_com = document.querySelector('table#del_com');
				const tbl_del_noti = document.querySelector('table#del_noti');
				
				const btns = [btn_del_posts, btn_del_com, btn_del_noti];
				const tables = [tbl_del_posts, tbl_del_com, tbl_del_noti];
				
				for(let i = 0; i < btns.length; i++){
					if (i == btn){
						btns[i].classList.add('active');
						tables[i].style.display = 'table';
					}
					else{
						btns[i].classList.remove('active');
						tables[i].style.display = 'none';
					}
				}
			}
			
			function selectAll(allBtn){
				const checkboxes = document.getElementsByName(allBtn.name);
				
				checkboxes.forEach((checkbox) => {
					checkbox.checked = allBtn.checked;
				})
			}
			
			function clickRestore(name) {
				const chkedElements = document.getElementsByName(name);
				let eleString = "";
				
				chkedElements[0].parentNode.removeChild(chkedElements[0]);

				chkedElements.forEach((checkbox) =>{
					eleString += checkbox.value;
					eleString += ",";
				})
				
				alert(eleString);
			}
		</script>
		<script th:inline="javascript">
	        /*<![CDATA[*/
	        // 타임리프 URL을 동적으로 생성하여 사용할 수 있도록 설정
	        var memUrl = /*[[${'/admin/adminMem'}]]*/ '/admin/adminMem';  // 타임리프 문법으로 URL 처리
	
	        // toMemPage 함수 정의
	        function toMemPage(userNo) {
	        	userNo = parseInt(userNo, 10);
	            // 동적으로 form 생성
	            var memForm = document.createElement('form');
	            memForm.method = 'get';
	            memForm.action = memUrl;  // 타임리프 URL 사용
	
	            // user_no 값을 hidden 필드로 전달
	            var userNoInput = document.createElement('input');
	            userNoInput.type = 'hidden';
	            userNoInput.name = 'user_no';  // 서버에서 사용할 파라미터 이름
	            userNoInput.value = userNo;  // 버튼 클릭 시 받은 user_no 값
	            memForm.appendChild(userNoInput);
	
	            // form을 body에 추가하고 제출
	            document.body.appendChild(memForm);
	            memForm.submit();
	        }
	        /*]]>*/
    	</script>
    	<script th:inline="javascript">
	        /*<![CDATA[*/
	       	// 타임리프 URL을 동적으로 생성하여 사용할 수 있도록 설정
	        var postDelUrl = /*[[${'/admin/postDel'}]]*/ '/admin/postDel';  // 타임리프 문법으로 URL 처리
	        
	        function postDelete(board_no){
				if(confirm('정말로 ' + board_no + '번 게시글을 삭제하시겠습니까?')){
					board_no = parseInt(board_no, 10);
		            // 동적으로 form 생성
		            var postDelForm = document.createElement('form');
		            postDelForm.method = 'get';
		            postDelForm.action = postDelUrl;  // 타임리프 URL 사용
		
		            // user_no 값을 hidden 필드로 전달
		            var boardNoInput = document.createElement('input');
		            boardNoInput.type = 'hidden';
		            boardNoInput.name = 'board_no';  // 서버에서 사용할 파라미터 이름
		            boardNoInput.value = board_no;  // 버튼 클릭 시 받은 user_no 값
		            postDelForm.appendChild(boardNoInput);
		
		            // form을 body에 추가하고 제출
		            document.body.appendChild(postDelForm);
		            postDelForm.submit();
				}
			}
	        /*]]>*/
    	</script>
    	<script th:inline="javascript">
	        /*<![CDATA[*/
	       	// 타임리프 URL을 동적으로 생성하여 사용할 수 있도록 설정
	        var comDelUrl = /*[[${'/admin/comDel'}]]*/ '/admin/comDel';  // 타임리프 문법으로 URL 처리
	        
	        function commentDelete(com_no){
				if(confirm('정말로 ' + com_no + '번 댓글을 삭제하시겠습니까?')){
					com_no = parseInt(com_no, 10);
		            // 동적으로 form 생성
		            var comDelForm = document.createElement('form');
		            comDelForm.method = 'get';
		            comDelForm.action = comDelUrl;  // 타임리프 URL 사용
		
		            // user_no 값을 hidden 필드로 전달
		            var comNoInput = document.createElement('input');
		            comNoInput.type = 'hidden';
		            comNoInput.name = 'com_no';  // 서버에서 사용할 파라미터 이름
		            comNoInput.value = com_no;  // 버튼 클릭 시 받은 user_no 값
		            comDelForm.appendChild(comNoInput);
		
		            // form을 body에 추가하고 제출
		            document.body.appendChild(comDelForm);
		            comDelForm.submit();
				}
			}
	        /*]]>*/
    	</script>
		<script>
			
		</script>

	</body>
</html>