<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<th:block th:insert="~{menu.html::metaImport}"></th:block>
<th:block th:insert="~{menu.html::scriptImport}"></th:block>
<title>お知らせ作成</title>
<th:block th:insert="~{menu.html::headImport}"></th:block>
<style>

</style>
</head>
<body>
	<div class="container">
		<!-- 上段のバー - ロゴ, 掲示板メニュー, 検索ボックス, マイページ, ログイン -->
		<th:block th:insert="~{menu.html::navBar}"></th:block>
		<div class="row roundWhiteBox">
			<h1>お知らせ作成</h1>
			<form name="notice" action="/admin/submitNotice" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<input type="hidden" name="category" th:value="0" />
				<div class="form-group">
					<label for="board_title">タイトル</label>
					<input type="text" id="board_title" name="board_title" required placeholder="お知らせのタイトルを入力して下さい。">
				</div>
				<div class="form-group">
					<label for="board_content">内容</label>
					<textarea id="board_content" name="board_content" required placeholder="お知らせの内容を入力して下さい。"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn">作成完了</button>
					<button class="btn" th:onclick="history.back()">作成キャンセル</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>