<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="topbar">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
	    <!-- Navbar Brand-->
	    <a class="navbar-brand ps-3" th:href="@{/}" th:text="'메인페이지'">메인페이지</a>
	    <!-- Navbar Search-->
	    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
	    <!-- Navbar-->
	    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
	        <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
	            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
	            </ul>
	        </li>
	    </ul>
	</nav>
</th:block>

<th:block th:fragment="leftmenu">
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
		    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		        <div class="sb-sidenav-menu">
		            <div class="nav">
		                <div class="sb-sidenav-menu-heading"></div>
		                <a class="nav-link" th:href="@{/mypage}">
		                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
		                    내 정보
		                </a>
		                <div class="sb-sidenav-menu-heading"></div>
		                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
		                    <nav class="sb-sidenav-menu-nested nav"></nav>
		                </div>
		                <a class="nav-link collapsed" th:href="@{/mypage/board}" >
		                    <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
		                    내 글 보기
		                </a>
		                <div class="sb-sidenav-menu-heading"></div>
		                <a class="nav-link" th:href="@{/mypage/commentboard}">
		                    <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
		                    내 댓글 보기
		                </a>
		            </div>
		        </div>
		    </nav>
		</div>
	</div>
</th:block>
</body>
</html>