<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{mypage/menu.html::scriptImport}"></th:block>
    <th:block th:insert="~{mypage/menu.html::headImport}"></th:block>
    <th:block th:insert="~{mypage/menu.html::metaImport}"></th:block>
    <title>マイページ</title>
</head>

<body class="sb-nav-fixed">
	<div class="container">
	 <th:block th:insert="~{mypage/menu.html::navBar}"></th:block>
		<div class="bodypart">
			<h1 class="mb-3">マイページ</h1>
			<div class="table-responsive">
				<form action="/mypage/change" id="change" name="change" method="post">
					<input type="hidden" name="username"/> 
					<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th colspan="2" class="col-md-3 text-center">情報</th>
							</tr>
							<tr>
								<th scope="row" class="col-md-3 text-center">ID</th>
								<td class="col-md-9" th:text="${user.user_id}"></td>
							</tr>
							<tr>
								<th scope="row" class="col-md-3 text-center">ユーザー名</th>
								<td class="col-md-9" th:text="${user.user_username}"></td>
							</tr>
							<tr>
								<th scope="row" class="col-md-3 text-center">名前</th>
								<td class="col-md-9" th:text="${user.user_name}"></td>
							</tr>
							<tr>
								<th scope="row" class="col-md-3 text-center">パスワード</th>
								<td><input type="password" class="col-md-3" id="user_pw" name="user_pw" placeholder="変更するパスワードを入力して下さい。" />
									<button type="button" onclick="changePw()" id="chg-btn">変更</button>
								</td>
							</tr>
							<tr>
								<th scope="row" class="col-md-3 text-center">メール</th>
								<td class="col-md-9" th:text="${user.user_email}"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
	const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	const checkPW = RegExp(/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[~!@#$%^&*()_+])[A-Za-z\d~!@#$%^&*()_+]{4,}$/);
	let isPwValid = false; //パスワードの状態

	//スペースバー禁止
	$(document).keydown(function(event) {
		if (event.keyCode === 32) {
			event.preventDefault();
		}
	});

	// ボタンの初期の状態を非活性化
	$(document).ready(function() {
		$("#chg-btn").prop("disabled", true);
	});

	// 入力ボックスバリデーションを検査して状態をアップデート＆ボタンを活性化
	function updateButtonState() {
		if (isPwValid) {
			$("#chg-btn").prop("disabled", false);
		} else {
			$("#chg-btn").prop("disabled", true);
		}
	}

	// パスワードのバリデーション検査
	$("#user_pw").blur(function() {
		const userPw = $("#user_pw").val();
		if (!checkPW.test(userPw)) {
			alert("英文(大、小),数字,特殊文字を各1つ以上含めた10文字以上を入力して下さい。");
			isPwValid = false;
		} else {
			isPwValid = true;
		}
		updateButtonState();
	});

	//パスワードの変更
	function changePw() {
		if (isPwValid) {
			alert("パスワードの変更完了");
			$("#change").submit();
		} else {
			alert("正しいパスワードを入力して下さい。");
		}
	}
</script>
</html>
