<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{mypage/menu.html::scriptImport}"></th:block>
    <th:block th:insert="~{mypage/menu.html::headImport}"></th:block>

    <title>마이페이지</title>
</head>
<body>
	
	<div class="container">
		<th:block th:insert="~{mypage/menu.html::navBar}"></th:block>
		<div class="bodypart">
			<h1 class="mb-3">마이페이지</h1>
			<th:block th:insert="~{mypage/menu.html::leftBar}"></th:block>
			<div class="table-responsive" >
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th colspan="2" class="col-md-4 text-center">나의 정보</th>
						</tr>
						<tr>
							<th scope="row" class="col-md-4 text-center">아이디</th>
							<td class="col-md-9" th:text="${user.user_id}"></td>
						</tr>
						<tr>
							<th scope="row" class="col-md-4 text-center">닉네임</th>
							<td class="col-md-9" th:text="${user.user_username}"></td>
						</tr>
						<tr>
							<th scope="row" class="col-md-4 text-center">이름</th>
							<td class="col-md-9" th:text="${user.user_name}"></td>
						</tr>
						<tr>
							<th scope="row" class="col-md-4 text-center">비밀번호</th>
							<td><input type="text" class="col-md-4"	placeholder="변경할 비밀번호를 입력해 주세요" />
								<button type="button">변경</button>
							</td>
						</tr>
						<tr>
							<th scope="row" class="col-md-4 text-center">이메일</th>
							<td class="col-md-9" th:text="${user.user_email}"></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
