@charset "UTF-8";
/* 보드 관련 css 모음 */
/* board.html - 게시판 목록 페이지------------------------------------------------------------------ */
.board-top form{
	display: flex;
	justify-content: flex-end;
    align-items: center;
}

.board-top form *{
	margin-left: 5px;
}

.board-top select {
	border: 1px solid lightgray;
	font-size: 14px;
	border-radius: 5px;
	padding: 2px 5px;
}

.board-top input[type="text"] {
	width: 50%;
	border: 1px solid lightgray;
	font-size: 14px;
	border-radius: 5px;
	padding: 3px 5px;
}

/* 게시글 목록 테이블 */
.board-list {
	table-layout: fixed;
	margin-top: 20px;
}

.board-list th, .board-list td {
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	overflow: hidden; /* 텍스트가 칸을 넘을 경우 지움 */
	text-overflow: ellipsis; /* 텍스트가 칸을 넘을 경우 ... */
	white-space: nowrap; /* 텍스트가 칸을 넘어도 개행시키지 않음 */
	
}
/* board.html - 게시판 목록 페이지------------------------------------------------------------------ */
/* boardview.html - 게시글 상세보기 페이지------------------------------------------------------------------ */
.com_btn {
	display: inline-flex;
	justify-content: flex-end;
}

.com_btn .btn {
	margin-left: 5px;
}
/* 게시글 정보 - 작성자, 작성일, 조회수, 좋아요수 */
.meta {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 15px;
}

/* 좋아요, 수정, 삭제 버튼들 */
.post-actions {
	display: flex;
	justify-content: center;
}

.post-actions .btn {
	margin-left: 5px;
}

/* 좋아요를 이미 눌렀을 경우 동적으로 추가되는 클래스 */
.active-btn {
	background-color: gray;
	color: white;
}

/* 댓글 구역 */
.com_upt_form {
	display: flex;
}
.com_upt_form .btn {
	margin-left: 5px;
}

.comment-item {
	padding: 0px;
}

.comment-item li{
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    list-style-type: none;
}

.comment-item li a.btn {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.comment-actions {
    margin-top: 10px;
}

textarea.commentContent{
	width: 80%;
}

.write-button button{
	float: right;
}

.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.comment-form .row{
	align-items: center;
}

/* バトンを同じ行に配置 */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* boardWrite css--------------------------------------------------------------------------------- */
@media (min-width: 576px) {
    .board-container {
        max-width: 460px;
    }
}
@media (min-width: 768px) {
    .board-container {
        max-width: 540px;
    }
}
@media (min-width: 992px) {
    .board-container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .board-container {
        max-width: 960px;
    }
}
@media (min-width: 1400px) {
    .board-container {
        max-width: 1120px;
    }
}

.board-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.board-form * {
	margin-top: 10px;
}

.board-form label {
	font-size: 14px;
}

.board-form input[type="text"], .board-form textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.board-form textarea {
	height: 300px;
}

.board-form button {
	padding: 10px 15px;
}

.board-form-btn {
	justify-content: center;
}
/* boardWrite css--------------------------------------------------------------------------------- */